<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Our team.">
    <meta name="author" content="Budak Amikom">
    <title>Kartel EL-HADI | Black Mamba</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/steller.css') }}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='imgs/pistol.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Team</a>
                    </li>                   
                </ul>
            </div>
        </div>          
    </nav>

    <!-- Header Section -->
    <section class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">hello, this is</h6>
                <h6 class="title">local cartel</h6>
                <div class="buttons pt-3">
                    <button class="btn btn-primary rounded">SHARELOK, TAK PARANI</button>
                </div>      
            </div>              
            <div class="img-holder">
                <img src="{{ url_for('static', filename='imgs/brewog.png') }}" alt="">
            </div>      
        </div>
    </section>

    <!-- About Section: Syahrul -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='imgs/syahrul.jpg') }}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Syahrul</h6>
                    <p class="subtitle">22.83.0824</p>
                    <p>Hobi Main Games</p>
                    <p>Saya adalah seorang mahasiswa yang memiliki minat besar dalam olahraga dan bermain game. Ketika tidak sibuk dengan tugas kuliah, saya sering menghabiskan waktu untuk menjaga kesehatan dengan berolahraga atau bersantai dengan bermain game favorit. Kedua aktivitas ini membantu saya menjaga keseimbangan antara aktivitas fisik dan hiburan, serta memberikan semangat untuk menjalani hari-hari dengan lebih produktif dan menyenangkan.</p>                   
                </div>
            </div>
        </div>
    </section>

    <!-- About Section: Luqman -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='imgs/luqman.jpg') }}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Luqman Muhammad Ammar</h6>
                    <p class="subtitle">22.83.0761</p>
                    <p>Hobi Main Games </p>
                    <p>Saya adalah seorang mahasiswa yang memiliki minat besar dalam olahraga dan bermain game. Ketika tidak sibuk dengan tugas kuliah, saya sering menghabiskan waktu untuk menjaga kesehatan dengan berolahraga atau bersantai dengan bermain game favorit. Kedua aktivitas ini membantu saya menjaga keseimbangan antara aktivitas fisik dan hiburan, serta memberikan semangat untuk menjalani hari-hari dengan lebih produktif dan menyenangkan.</p>                  
                </div>
            </div>
        </div>
    </section>

    <!-- About Section: Riski -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='imgs/riski.jpg') }}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Riski Mardianto</h6>
                    <p class="subtitle">22.83.0771</p>
                    <p>Hobi Olahraga</p>
                    <p>Saya adalah seorang mahasiswa yang memiliki minat besar dalam olahraga dan bermain game. Ketika tidak sibuk dengan tugas kuliah, saya sering menghabiskan waktu untuk menjaga kesehatan dengan berolahraga atau bersantai dengan bermain game favorit. Kedua aktivitas ini membantu saya menjaga keseimbangan antara aktivitas fisik dan hiburan, serta memberikan semangat untuk menjalani hari-hari dengan lebih produktif dan menyenangkan.</p>                  
                </div>
            </div>
        </div>
    </section>

    <!-- About Section: Syamsul -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='imgs/syam.jpg') }}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Lalu Muhammad Syamsul Hadi</h6>
                    <p class="subtitle">22.83.0766</p>
                    <p>Hobi Olahraga</p>
                    <p>Saya adalah seorang mahasiswa yang memiliki minat besar dalam olahraga dan bermain game. Ketika tidak sibuk dengan tugas kuliah, saya sering menghabiskan waktu untuk menjaga kesehatan dengan berolahraga atau bersantai dengan bermain game favorit. Kedua aktivitas ini membantu saya menjaga keseimbangan antara aktivitas fisik dan hiburan, serta memberikan semangat untuk menjalani hari-hari dengan lebih produktif dan menyenangkan.</p>                 
                </div>
            </div>
        </div>
    </section>

</body>

<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="https://syamoff.online" target="_blank">Black Mamba</a></p>
            </div>
        </div>
    </div>
</footer>  
</html>
